apiVersion: purelb.io/v1
kind: ServiceGroup
metadata:
  name: default
  namespace: purelb
spec:
  local:
    subnet: {{ purelb_subnet }}
    pool: {{ purelb_pool }}
    aggregation: {{ purelb_aggregation }}
