apiVersion: v1
kind: Service
metadata:
  name: envoy4egw
  namespace: envoy
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 10000
  selector:
    app: envoy4egw
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy4egw
  namespace: envoy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: envoy4egw
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: '[{ "name": "ipvlan-conf", "namespace": "multus",
          "default-route": [ {{ gateway }} ] }]'
      labels:
        app: envoy4egw
    spec:
      containers:
      - name: envoy4egw
        image: registry.gitlab.com/acnodal/envoy-for-egw
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 10000
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        volumeMounts:
        - name: envoy-cm
          mountPath: /etc/envoy
      imagePullSecrets:
        - name: gitlab
      volumes:
      - name: envoy-cm
        configMap:
          name: envoy-cm
        