#!/bin/bash

if [ "$IFACE" == " {{ master_int }}" ];
then
  
  echo "configuring  ipvlan0 on $IFACE"
  ip link add link {{ master_int }} ipvlan0 type ipvlan mode l3
  ip addr add dev ipvlan0 {{ gateway }}/24
  ip link set ipvlan0 up


fi
