apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: ipvlan-conf
  namespace: multus
spec:
  config: '{
      "cniVersion": "0.3.0",
      "type": "ipvlan",
      "master": "{{ master_int }}",
      "mode": "l3",
      "ipam": {
        "type": "host-local",
        "subnet": {{ subnet }},
        "rangeStart": {{ rangeStart }},
        "rangeEnd": {{ rangeEnd }},
        "gateway": {{ gateway }},
        "routes": [
          { "dst": "0.0.0.0/0" }
        ]
      }
    }'