---
apiVersion: epic.acnodal.io/v1
kind: LBServiceGroup
metadata:
  namespace: {{ group_org_ns }}
  name: gatewayhttpv6
  labels:
    epic.acnodal.io/owning-account: {{ group_org_name }}
    epic.acnodal.io/owning-serviceprefix: {{ service_prefix_name }}-ipv6
    app.kubernetes.io/component: lbservicegroup
    app.kubernetes.io/part-of: epic
spec:
{{ lookup('file', 'epic_v1_lbservicegroup_spec.yaml') }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned
  namespace: {{ group_org_ns }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: lbsg-https-cert
  namespace: {{ group_org_ns }}
spec:
  secretName: lbsg-https-cert
  commonName: epic-self-signed
  issuerRef:
    kind: Issuer
    name: selfsigned
