apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: epic-ws
  namespace: epic
spec:
  dnsNames:
  - {{ ws_hostname }}
  secretName: ws-service-cert
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: acnodal-ws
  namespace: epic
spec:
  virtualhost:
    fqdn: {{ ws_hostname }}
    tls:
      secretName: ws-service-cert
    authorization:
      failOpen: false
      extensionRef:
        name: epicauth
        namespace: epicauth
      responseTimeout: 2s
  routes:
  - conditions:
    - prefix: /api/epic/healthz
    permitInsecure: true
    services:
    - name: web-service
      port: 8080
  - conditions:
    - prefix: /api/epic
    services:
    - name: web-service
      port: 8080
